<!DOCTYPE html>
<html>
<head>
    <style>
table, td, th {
    border: 1px thin, #ddd;
    text-align: left;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
</style>

  <title></title>
</head>
<body>
  <div style = "overflow-x:auto;">

<table>
<tr>
  <th>id</th>
  <th>song</th>
  <th>singer</th>
  <th>last_modify_date</th>
  <th>created</th>
</tr>
<tr><td>1</td><td>song1</td><td>AKB48</td><td>2018-08-27 03:48:01.057000</td><td>2018-08-27 03:45:02.632000</td></tr>
<tr><td>2</td><td>ddd</td><td>AKB48</td><td>2018-08-27 04:24:44.251000</td><td>2018-08-27 04:24:44.251000</td></tr>
<tr><td>3</td><td>ddd1</td><td>AKB48</td><td>2018-08-27 04:24:44.251000</td><td>2018-08-27 04:24:44.251000</td></tr>
</table>
  </div>
</body>
</html>